.form{
    position: relative;  
}


.form form{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30%;
    top: 50vh;
    transform: translate(-50px,-50%);
    padding: 2rem ;
    border: 2px solid black;
    background-color: rgb(230, 240, 245)
}

.form form .btn-deco{
    display: flex;
}

.form form .btn{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin: 2px;
}