{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags%}

{% block link%}
    <link rel="stylesheet" href="{% static 'static/create.css'%}">
{% endblock %}

    {% block content %}
        <div class="form">
            <form method="POST" action="">
                <img src="{% static 'static/header.jpeg'%}" alt="rongo logo">
                {% if messages %}
                        {% for message in messages%}
                        <p> {{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% csrf_token %}
                {{form|crispy}}
                <div class="btn-deco">
                    <input type="submit" class="btn" name="save" value="register">
                    <a href="/adminPage">Add clearance form</a>
                </div>
                
            </form>
        </div>

    {% endblock %}
        

