{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link%}
    <link rel="stylesheet" href="{% static 'static/create.css'%}">
    {% endblock %}
    <title>create</title>
</head>
<body>
    <div class="form">
        <form method="post" action="/registration/">
            <img src="{% static 'static/header.jpeg'%}" alt="rongo logo">
            {% csrf_token %}
            {{form.as_p}}
            <a href=''>forgot password</a>
            <button type="submit" class="btn" name="save">login</button>
        </form>
        
    </div>
</body>
</html>