{% extends 'base.html' %}
{% load static%}

{% block link %}
        <link rel="stylesheet" href="{% static 'static/home.css'%}">
        
{% endblock %}

{% block header%}
    <header>
        <img id='header' src="{% static 'static/header.jpeg'%}" alt="rongo logo">
        <div class="menubar">
            <div class="menu">
                <ul>
                    <li><a href="#aboutUs">menu</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="login">login</a></li>
                    <li><a href="registration">register</a></li>
                    <li><a href="adminPage">admin</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="#faq">faq's</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="clearance">clearance</a></li>
                        <li><a href="logout">logout</a></li>
                    {% else %}

                        
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </header>
{% endblock%}


{% block content %}
    <main>
        <div class="container">
            <div class="content">
                <h1>online clearance form</h1>
                <div class="aboutUs" id="aboutUs">
                    <h2>about us</h2>
                <p>
                    This is an online clearance system that helps students to clear from different departments that they are required to clear 
                    from in order to be able to clear from the school and get there certificate.
                </p>
                <p>
                    It will help save time and resources for both the student and school management.It is also going in accordance with the goal of the school being more online oriented.
                </p>
                <p>
                    The departments that student need to clear from include :-
                </p>
                    <ol>
                        <li>Head of department</li>
                        <li>Dean of school</li>
                        <li>University library</li>
                        <li>University Accommodations Section</li>
                        <li>Catering Section</li>
                        <li>Health Unit</li>
                        <li>Games and Sports Office</li>
                        <li>Dean of Students</li>
                        <li>Central Services</li>
                        <li>Student's finance</li>
                        <li>Registrar</li>
                        <li>Financial officer</li>
                    </ol>
                <p>
                    The financial officer is the one who has the admin authorization of adding and removing students to the clearance form database that contains data 
                    of students and if/not they have a balance with the school.
                </p>
                </div>
                <div class="faq" id="faq">
                    <h2>faq's</h2>
                    <p>Most asked question?</p>
                    <div class="faq">
                        <div class="container">
                            <div class="content">
                                <div class="questions">
                                    <div class="accordionContainer">
                                        <div class="label">1.What username should I use?
                                            <div class="accordionContent">
                                                <p>Username used should be the same as the one intended during log in of the system</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="accordionContainer">
                                        <div class="label">2.How will I get the clearance form?
                                            <div class="accordionContent">
                                               <p> The clearance form will be  available for download as pdf and an email will be sent to the user using the email provided during login.</p>
                                               <p>The downloaded pdf then acts as a means of proff when coming to collect your certificate.</p>

                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="accordionContainer">
                                        <div class="label">3.How to register?
                                            <div class="accordionContent">
                                                One first registers for for the site then logs in and a log in link is also sent to their email.</p>
                                                <p>After loging in the student has to request for the clearance form data by requesting the form by filling in the clearance registration form
                                            </div>
                                        </div>
                                    </div>
                                    
        
                                    <div class="accordionContainer">
                                        <div class="label">4.Why cant I use registration number as username
                                            <div class="accordionContent">
                                                
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}


{% block script %}
    <script src="{% static 'static/home.js'%}"></script>
{% endblock script %}
    

