{% extends 'base.html' %}

<table style="width:100%"> 
    <tr>
        <th>Office/Departments</th>
        <th>Particulars not returned</th>
        <th>Clearance State</th>
        <th>Date modified</th>
    </tr>
    <tr>
        <td>Head of Department</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Head of Department</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Dean of School</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>University Library</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>University Accommodation Section</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Catering Section</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Health Unit</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Games and Sports Office</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Dean of Students</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Central Services</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Students Finance</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Registrar</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    <tr>
        <td>Finance Officer</td>
        <td><input type="text"></td>
        <td>
             <select name="clearanceState" id="clearance">
                <option value="cleared">cleared</option>
                <option value="notCleared">Not cleared</option>
                <input type="date">
            </select></td>
    </tr>
    
</table>